* {
    box-sizing: border-box;
}

.two-fr-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-fr-grid img {
    width: 100%;
    height: 400px;  /* Adjust this value to make squares bigger/smaller */
    object-fit: cover;
    border-radius: 0.5rem;
}

/* ---------- nav bar ---------- */
.nav-bar {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr; 
    align-items: center;
    margin-top: 2rem;
    margin-inline: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(181, 179, 168);
    line-height: 1.7;
}

.left-align {
    text-align: left;
}

/* ---------- Home hero grid ---------- */
.home-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ---------- projects gallery ----------- */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

.project-grid img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
    display: block;
}

.project-grid h2 {
    margin: 0;
}

.project-grid h3 {
    margin: 0;
}

.project-grid p {
    margin: 0;
    padding-top: 2rem;
}

.text-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

/* ---------- PROJECT title grid ---------- */
.title-grid {
    display: grid; 
    margin: 0;
}

.title-grid h1 {
    margin-top: 2rem;
}

.title-grid h1, h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;
}

/* ---------- PROJECT context grid (purpose, tools, etc) ---------- */
.context-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.context-grid h3, .context-grid h4 {
    margin: 0;
}

/* ---------- project page outcome image grid ---------- */
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
}

.large-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 0.5rem;
    padding-top: 1rem; 
    margin-left: 2rem;
    margin-right: 4rem;
    flex-direction: column;
    justify-items: center;
}

/* ---------- hooligang project page outcome image grid ---------- */
.xl-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
    margin-right: 4rem;
    gap: 0.5rem;
    flex-direction: column;
}

.versions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 4rem;
    margin-left: 2rem;
    gap: 1rem;  
    flex-direction: column;
}

.versions-grid img,
.image-grid img {
    width: 100%;
    height: 45vw;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* ---------- the PEAK illustration grid ---------- */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem;
}

.column {
    flex: 50%;
    max-width: 50%;
}

.column img {
    margin: 0;
    border-radius: 0.5rem;
    width: 100%;
    vertical-align: middle;
    transition: 0.5s ease;
}

.column a {
    position: relative;
    display: block;
    background: rgb(21, 19, 23); 
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.column a h3 {
    position: absolute;
    color: rgb(181, 179, 168);
    opacity: 0;
    margin: 1rem; 
}

.column a:hover img, .column a:focus img{
    opacity: 20%;
}

.column a:hover h3, .column a:focus h3 {
    opacity: 100%;
}

@media (max-width: 100rem) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
}

@media (max-width: 50rem) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ---------- about me text grid ---------- */
.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me-grid h3 {
    margin: 0rem 0rem 0rem 2rem;
}

.about-me-grid p {
    margin-bottom: 0;
    margin-top: 0;
}

/* ---------- playground grid ---------- */
.play-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

.play-grid h3 {
    margin: 0rem;
    padding-top: 1rem;
}

/* ---------- footer ---------- */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    padding-bottom: 1rem;
    gap: 1rem; 
}

.footer h4 {
    margin-top: 0;
}

.footer img {
    margin-bottom: 1rem;
}


/* ---------- responsive settings ---------- */

@media (width < 60rem) {
    .two-fr-grid {
        grid-template-columns: 1fr;
    }
}

@media (width < 50rem) {
    .home-hero-grid{
        grid-template-columns: 1fr;
    }

    .project {
        grid-template-columns: 1fr;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .context-grid {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .footer h4 {
        margin-bottom: 0;
    }

    .footer img {
        margin-left: 1.6rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .about-me-grid {
        grid-template-columns: 1fr;
    }

    .xl-image-grid {
        grid-template-columns: 1fr 1fr;
    }

    .large-image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .versions-grid {
        grid-template-columns: 1fr;
    }
}

@media (width < 40rem) {
    .context-grid {
        grid-template-columns: 1fr;
    }

    .xl-image-grid {
        grid-template-columns: 1fr;
    }

    .color-palette-grid {
        grid-template-columns: 1fr 1fr;
    }

    .large-image-grid {
        grid-template-columns: 1fr;
    }

    .project-grid img {
        height: 15rem;
    }

    .play-grid {
        grid-template-columns: 1fr;
    }
}

@media (width < 34.375rem) {
    .bio-text {
        padding-top: 3rem !important; 
    }
}
