* {
    box-sizing: border-box;
}

/* ---------- nav bar ---------- */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    margin-top: 2rem;
    margin-inline: 2rem;
    margin-bottom: 2rem;
}

nav {
    text-align: right;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 1.7;
}

.left-align {
    text-align: left;
}

/* ---------- hover photo gallery ---------- */
.hover-gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    gap: 0.2rem;
    align-items: center;
}

.hover-gallery-grid > div {
    position: relative;
    aspect-ratio: 3 / 2;   
    overflow: hidden;

    display: flex;              
    justify-content: center;    /* horizontal center */
    align-items: center;        /* vertical center */
    text-align: center; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;  
    transition: opacity 1s ease-out;
    z-index: 2;
}

.hover-gallery-grid div:hover .overlay {
    opacity: 0;
}

.hover-gallery-grid h1 {
    font-size: clamp(1rem, 2.2vw, 2rem);
    font-weight: 500;
}

.hover-gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}

.img-origami-bump {
    transform: translateY(12px);
}

.img-runner-bump {
    transform: translateY(18px);
}

@media (width < 40rem) {
    .hover-gallery-grid {
        grid-template-columns: repeat(4, 1fr);  
    }
}

/* ---------- projects gallery ----------- */
.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

/* each card (image + text) */
.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border: 0.1rem solid transparent;
  transition-duration: 0.5s;
}

.project-card:hover {
    border-color: black;
}

.project-item {
  background-color: #d3d3d3;
  aspect-ratio: 1/1;
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;     
}

.project-text {
  display: grid;
  grid-template-columns: 1fr auto; 
  font-family: 'Satoshi', sans-serif;
  font-size: 1rem;
  color: black;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.project-text h4 {
    color: rgb(150, 150, 150);
}

.text-left h3, .text-right h3 {
    margin: 0;
}

.text-left h4, .text-right h4 {
    margin: 0;
}

/* ---------- footer ---------- */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1rem;
}

.footer h4 {
    margin-top: 0;
}

.footer img {
    margin-bottom: 1rem;
}

/* ---------- PROJECT title grid ---------- */
.title-grid {
    display: grid; 
    margin: 0;
}

.title-grid h1 {
    margin-top: 2rem;
}

.title-grid h1, h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;
}

.title-grid h2 {
    color: rgb(150, 150, 150);
}

/* ---------- PROJECT context grid (purpose, tools, etc) ---------- */
.context-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.context-grid h3, .context-grid h4 {
    margin: 0;
}

/* ---------- project page outcome image grid ---------- */
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* ---------- responsive settings ---------- */
@media (width < 50rem) {
    .project {
        grid-template-columns: 1fr;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .context-grid {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .footer h4 {
        margin-bottom: 0;
    }

    .footer img {
        margin-left: 1.6rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
}

@media (width < 40rem) {
    .context-grid {
        grid-template-columns: 1fr;
    }
}