
/* 
TODO:
- finish home page
    - add images to the project cards
    - create image hover states (ie swicth to detail shot)
    - add imagery/smth interesting and descriptive of YOU to the home screen. Smth that takes up the whole home screen.
    - add a brief description of who you are to home page.
- create personalized cursor (draw one!)
- add animation/visual smth when hover over name (in top left corner)
    - idea: sketch circle around name to furthur highlight it
        - if you figure that out, do the same thing for the LinkedIn logo in footer.
- about page
    - include the following: 
        - quick biography... WHO ARE YOU?
        - education
        - skills
        - experience
*/

h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding: 2rem;
}

/* ----- 'olivia blackmore' nav bar item ----- */
h2 {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.5rem;
    margin: 0;

    transition-duration: 0.5s;
}

.left-align a {
  text-decoration: none;
  color: black;
  font-weight: 700; 
}

.left-align a:hover {
  font-weight: 400;
}

/* ---------- ---------- ---------- ---------- */

h3 {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 2rem;
}

h4 {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.padding-left {
    margin-left: 2rem;
}

h5 {
    font-family: 'Satoshi', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 2rem;   
}

p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem; 
    max-width: 50rem; 
}

/* ---------- nav buttons ---------- */
a {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;

    transition-duration: 0.5s;
}

a:hover, a:focus {
    font-weight: 900;
}

/* ---------- line ---------- */
.full-width-line {
    border: none;
    border-top: 1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* ---------- video container ---------- */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
